body{
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: 300;
}

hr {
	background-color: #7d97ad; height: 2px; border: 0;
}

.text-muted{
	color: #7d97ad;
}

.text-thin{
	font-weight: 100;
}

.title-super{
	font-size: 60px;
}

.title-logo{
	margin-top: 30px;
}
.text-dark{
	color: #2d3c49;
}